body {
    height: 100vh;
    background-image: url(../imagens/lago4k.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    font-family: inherit;
}

.main--content {
    padding-top: 60px;
}

.container p {
  color: black;
}

.content {
    height: 100vh;
    overflow-y: scroll;
}

.content--menu {
    display: flex;
    justify-content: flex-start;
    height: 200px;
    align-items: baseline;
}

.menu {
    height: 60px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    opacity: 0.7;
    position: fixed;
    margin-top: 45px;
    z-index: 1;
}

.text-bg {
  background-color: #fafafa;
  border-top: 5px solid #da222b;
  height: 200px
}

.bolona {
    width: 210px;
    height: 210px;
    border-radius: 100%;
    border: 5px solid #09afad;
    position: absolute;
    z-index: 99;
    margin-left: 20px;
}

.bolona img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-left: 0px;
    margin-top: 1px;
    background-color: white;
    border-radius: 100%;
}

@media (max-width: 993px) {
    .bolona {
        position: initial;
        margin: 0 auto;

    }
}

@media (max-width: 993px) {
    .second--section {
        margin-left: 0 !important;
        margin: 0 auto !important;
        padding-left: 5px;
    }
}

@media (max-width: 993px) {
    .mrgin-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0 !important;
    }
}

.first-text {
    font-size: 40px;
    letter-spacing: -2pt;
    color: #000;
}

.text-1 {
    font-size: 20px;
    color: #000;
}

strong {
    color: #09afad;
}

.text-2 {
    font-size: 14px !important;
    text-align: left;
    color: #000;
}

.second--section {
    margin-top: 65px;
}

.page--h2{
    color: #000523; 
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 20px;
    margin-top: 80px;
}

.full--name {
    color: #000523;         
    font-weight: 600;
    position: relative;
}

.full--name:after {
    content: "";
    border-bottom: 1px solid #000;
    width: 90%;
    left: 0;
    bottom: 0;
    position: absolute;
}

.bg--section--1 {
    background: rgba(255,255,255,0.4);
    padding-top: 60px;
}

.bg--section--1:after {
  content: "";
  display: table;
  clear: both;
}

.name {
    font-size: 15px;
    color: #333333;
}

.page--h3 {
    color: #000523;         
    font-weight: 600;   
    margin-top: 20px;
    position: relative;
}

.page--h3:after {
    content: "";
    border-bottom: 1px solid #000;
    width: 90%;
    left: 0;
    bottom: 0;
    position: absolute;
}

.email {
    color: #000523;         
    font-weight: 600;
}

.find-me-on {
    color: #000523;         
    font-weight: 600;
    margin-bottom: 20px;
}

.pdd--section {
    padding-top: 80px;
}

.mrgin-section {
    margin-left: 80px;
}

.icon--linkedin:before {
    content: "\eac9";
    font-size: 20px;
    margin-right: 10px;
    color: #0077B5;

}

.icon--linkedin {
    position: relative;
    display: inline-block;
    z-index: 20;
    color: #0077B5;
}

.icon--linkedin .tooltip-linkedin{
    visibility: hidden;
    width: 120px;
    background-color: rgba(1,1,1,0.7);
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    margin-left: -80px;
    margin-top: 15px;

    /* MAKE FADE IN */

    opacity: 0;
    transition:opacity 1s;
}

.icon--linkedin .tooltip-linkedin::after {
    content: "";
    position: absolute;
    margin-left: -33px;
    margin-top: -31px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(1,1,1,0.7) transparent;

}

.icon--linkedin:hover .tooltip-linkedin{
    visibility: visible;
    opacity: 1;
}


.icon--github:before {
    content: "\eae7";
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #da222b;
}

.icon--github {
    position: relative;
    display: inline-block;
    z-index: 20;
    color: #da222b;
}

.icon--github .tooltip-github{
    visibility: hidden;
    width: 120px;
    background-color: rgba(1,1,1,0.7);
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    margin-left: -80px;
    margin-top: 15px;

    /* MAKE FADE IN */

    opacity: 0;
    transition:opacity 1s;
}

.icon--github .tooltip-github::after {
    content: "";
    position: absolute;
    top: 100%
    left: 50%;
    margin-left: -28px;
    margin-top: -31px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(1,1,1,0.7) transparent;
}

.icon--github:hover .tooltip-github{
    visibility: visible;
    opacity: 1;
}

.icon--flag:before {
    content: "\e9cc";
    margin-right: 5px;
}

.icon--email:before {
    content: "\e945";
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: green;
}

.icon--email {
    position: relative;
    display: inline-block;
    z-index: 20;
    border-style: none; 
    list-style: none;
}

.icon--email .tooltip-email{
    visibility: hidden;
    width: 200px;
    background-color: rgba(1,1,1,0.7);
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    margin-left: -80px;
    margin-top: 15px;

    /* MAKE FADE IN */

    opacity: 0;
    transition:opacity 1s;
}

.icon--email .tooltip-email::after {
    content: "";
    position: absolute;
    margin-left: -134px;
    margin-top: -15px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(1,1,1,0.7) transparent;
}

.icon--email:hover .tooltip-email{
    visibility: visible;
    opacity: 1;
}

.icon--tel:before {
    content: "\e958";
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.icon--tel {
    position: relative;
    display: inline-block;
    z-index: 20;
}

.icon--tel .tooltip-tel{
    visibility: hidden;
    width: 120px;
    background-color: rgba(1,1,1,0.7);
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    margin-left: -80px;
    margin-top: 15px;

    /* MAKE FADE IN */

    opacity: 0;
    transition:opacity 1s;
}

.icon--tel .tooltip-tel::after {
    content: "";
    position: absolute;
    margin-left: -57px;
    margin-top: -15px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(1,1,1,0.7) transparent;
}

.icon--tel:hover .tooltip-tel{
    visibility: visible;
    opacity: 1;
    list-style: none;
}

.icon--skype:before{
    content: "\eac5";
    font-size: 20px;
    text-decoration: none;
    color: #09afad;
}

.icon--skype {
    position: relative;
    display: inline-block;
    z-index: 20;
    color: #09afad;
}

.icon--skype .tooltip-skype{
    visibility: hidden;
    width: 120px;
    background-color: rgba(1,1,1,0.7);
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    margin-left: -80px;
    margin-top: 15px;

    /* MAKE FADE IN */

    opacity: 0;
    transition:opacity 1s;
}

.icon--skype .tooltip-skype::after {
    content: "";
    position: absolute;
    margin-left: -40px;
    margin-top: -31px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(1,1,1,0.7) transparent;
}

.icon--skype:hover .tooltip-skype{
    visibility: visible;
    opacity: 1;
}



.icon--library:before {
    content: "\e921";
    margin-right: 5px;
}

.education--text--1 {
    font-size: 15px;
}


.icon--twitter:hover {
    text-decoration: none;
}

.icon--skype:hover {
    text-decoration: none;
}

.icon--email:hover {
    text-decoration: none;
}

.icon--github:hover {
    text-decoration: none;
}

.icon--tel:hover {
    text-decoration: none;
}

.service-icon a {
  text-decoration: none;
}

.skills-list {
    list-style: none;
    padding-left: 0px;
}

.progress {
    width: 100%;
    height: 25px;
    position: relative;
    margin-bottom: 20px;
    font-weight: 600;
}

.progress-bar {
    width: 70%;
    background: #09afad;
    display: flex;
    align-items: center;
}


.progress-bar-7 {
    width: 80%;
    background: #09afad;
    height: 25px;
}


.progress-bar-8 {
    width: 60%;
    background: #031634;
    height: 25px;
}

.progress-bar-9 {
    width: 40%;
    background: #da222b;
    height: 25px;
}

.progress-bar-10 {
  width: 70%;
  background-color: green;
  height: 25px;
}

.progress-type {
    left: 15px;
    position: absolute;
}

.progress-completed {
    position: absolute;
    color: #333;
    right: 0;
    margin-right: 15px;
}

.form--style{
    border-radius: 5px;
    height: 40px; 
    margin-bottom: 10px;
    background-color: #09afad;
    border: 5px solid #09afad;
    width: 90%
}

input::placeholder {
    color: white;
    margin-left: 3px;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}

textarea::placeholder {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}

.textarea--1 {
    height: 88px;
    border: 5px solid #09afad;
}

.addres--1 {
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 700;
    color: #031634;
    margin-top: 20px;
}

.addres--text {
    font-size: 16px;
}

.addres--text--1 {
    font-size: 13px;
}

.button--send {
    width: 50%;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #031634; 
}

.button--send:hover {
    background-color: #031680;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.hamburger:hover {
    color: #09afad;
}

.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color: white;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;

}

.cross:hover {
    color: #09afad;
}

.link--nav {
    font-family: 'Arial';
    margin-top: 5px;    
    transition: all .2s linear;
    color: #fff;
    list-style: none;

}

.link--nav:hover {
    color: #09afad;
    text-decoration: none;
}

.barra-nav {
    background: #333;
    padding: 1em;
    margin: 0;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: -90%;
    transition: left 0.3s ease-out;
}

.menu-ativo {
    left: 0;
}

.menu-principal {
    list-style-type: none;
    margin-top: 100px;
    font-size: 18px;
    font-weight: bold;
    z-index: 9999;
    position: relative;
}

.menu-principal li{
    margin-bottom: 20px;
}

.menu-abrir {
    position: absolute;
    top: 60px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    border:0;
    width: 110px;
    height: 60px;
}

.menu-abrir:hover {
    color: #09afad;
}

@media (max-width: 993px) {
    .nav--bar {
        display: none;
    }
}

.menu-ativo:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
    z-index: 99;
}

.service-icon {
  padding-bottom: 40px;
}